.form_tags {
  margin-bottom: 10px;
}
/* Setting widget width example */
.textboxlist {
  width: 400px;
}
/* Preloader for autocomplete */
.textboxlist-loading {
  background: url('spinner.gif') no-repeat 380px center;
}
/* Autocomplete results styling */
.form_friends .textboxlist-autocomplete-result {
  overflow: hidden;
  zoom: 1;
}
.form_friends .textboxlist-autocomplete-result img {
  float: left;
  padding-right: 10px;
}
.note {
  color: #666;
  font-size: 90%;
}
#footer {
  margin: 50px;
  text-align: center;
}
.main-photo-on {
  width: 120px!important;
  background-color: #377ca8;
  font-weight: bold;
  color: #f4ce23;
}
.main-photo-off {
  width: 120px!important;
  background-color: rgba(123, 126, 128, 0.98);
  font-weight: bold;
  color: #f4ce23;
}
.textboxlist-bit-editable-input {
  border: 0px!important;
}
.textboxlist-bits {
  height: 30px!important;
}
#list-dates,
#list-tickets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
