div#navtab
    nav.pretty.navbar
        h1.logo
        ul
            li
                a(href='#', title='Novo Evento') Novo Evento
            li
                a(href='#', title='Mais Visitados') Mais Visitados
            li
                a(href='#', title='Mais Avaliados') Mais Avaliados
            li
                a(href='#', title='FAQ') FAQ
            li
                div.field
                    p.text.search.oval
                        input(type='text', placeholder='Pesquisar')